.banner {
    background-image: url("./images/menu_bg.jpg");
    color: #FFF;
    height: 70px;
    vertical-align: bottom;
    text-align: center;
    padding: 10em;
}

.banner-member {
    padding-bottom: 0.75rem;
}

.main-icon {
    text-align: center;
}

.my-website {
    background-image: url("./images/title_bg.jpg");
    height: 100px;
    width: 390px;
}

.bar-bg {
    background-image: url("./images/bar_bg.jpg");
}

.bar {
    height: 17px;
}

.side {
    margin-left: -0.25em;
}

.collage {
    height: 165px;
}

.addons {
    padding: 1em;
    background: #ff9900;
}

.website-addons {
    color: white;
}

.addon-cell {
    width: 225px;
}

li {
    list-style-image: url("./images/list_img2.jpg");
}

.features {
    justify-content: center;
    align-content: center;
    text-align: center; 
}